/*##################################################
    DEVELOPER: CODY L. WARD
##################################################*/

// VARIABLE IMPORT
@import '_variables';

// ANGULAR HELPERS
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], 
.ng-cloak, .x-ng-cloak {display: none !important;}

// BASIC TAG OVERRIDES
body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: $graphxGray;
    background: $graphxGray;
    font-family: 'Roboto', sans-serif;
    h1 {
        margin: 0px;
        color: $graphxGray;
        font-weight: 100;
        font-size: 2em;
        line-height: 50px;
    }
    h2{font-weight: 100;}
    a {
        margin: 2px 0px;
        color: $graphxBlue;
        text-decoration: none;
        float: left;
        clear: both;
        &:hover {color: $graphxGray;}
    }
}

// CUSTOM HELPER CLASSES
.wrapper {
    height: calc(100% - 170px);
    width: 1000px;
    margin: 0px auto;
    display: block;
    overflow: hidden;
}
.box {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

// HEADER
.header {
    height: 120px;
    width: 100%;
    padding: 10px;
    display: block;
    float: left;
    background: $graphxBlue;
    img {
        height: 100px;
        width: auto;
        margin: 0px auto;
        display: block;  
    }
}

// FILTER SECTION
.filter-box {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0px 0px 15px;
    background: $graphxGray;
}
.filter-search-box {
    height: 40px;
    width: 220px;
    margin: 0px 10px;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 1.5em;
    display: inline-block;
}

// RESULTS SECTION
.results-container {
    height: calc(100% - 110px);
    padding-top: 20px;
    background: #777777;
    overflow-y: scroll;
}
.results-heading {
    margin: 0px 0px 0px 150px;
    color: white;
}

// RESULT BOX
.results-box {
    height: 170px;
    width: 700px;
    margin: 20px auto;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 2px 10px $graphxGray;
    background: white;
    img {
        height: 132px;
        width: 132px;
        margin: 20px;
        border: 4px solid white;
        border-radius: 70px;
        float: left;
        box-shadow: 0px 2px 10px $graphxGray;
    }
    p {margin: 0px 0px 6px 0px;}
}
.results-box-name {
    height: 50px;
    width: 500px;
    margin-top: 10px;
    display: block;
    float: left;
}
.results-box-info {
    height: 100px;
    width: 200px;
    float: left;
    border-right: 1px solid $graphxGray;
    p {margin: 10px 0px 10px 10px;}
}
.results-box-contact {
    height: 100px;
    width: 310px;
    float: left;
}
.social-icon {
    height: 20px;
    width: 20px;
    margin: 0px 0px 0px 10px;
    color: $graphxGray;
    text-align: center;
}
.label{color: $graphxBlue;}
.footer {
    height: 50px;
    padding: 0px;
    background: $graphxBlue;
    font-size: 0.9em;
    p {
        margin: 0px;
        color: white;
        text-align: center;
        line-height: 50px;
    }
}

/*##################################################
    404 Page Styling
##################################################*/
.error-page{
    height: 100%;
    width: 100%;
    background: $graphxBlue;
    text-align: center;
    h1 {
        color: $graphxGray !important;
        font-size: 2em !important;
        padding: 15px 0px;
    }
    p {
        color: $graphxGray !important;
        margin: 0px !important;
    }
}
.return-button {
    background: $graphxGray;
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    padding: 0px 20px;
    display: block;
    margin: 20px auto;
    text-decoration: none;
    line-height: 40px;
    float: none;
}

/*##################################################
    MEDIA QUERIES
##################################################*/
@media screen and (max-width: 1000px) {
    .wrapper {
        height: calc(100% - 50px);
        width: 100%;
        max-width: 100% !important;
    }
    .header {
        height: 70px;
        width: 100%;
        padding: 5px;
        img {height: 60px;}
    }
    .footer {
        height: 50px;
        p {line-height: 50px;}
    }
    .results-heading {display: none;}
    .filter-search-box {
        height: 20px;
        width: calc(50% - 6px);
        font-size: 0.9em;
        margin: 5px 2px;
        float: none;
        border-radius: 0px; //Removes border-radius for mobile
    }
    .filter-box {
        height: 70px;
        width: 100%;
        max-width: 500px;
        padding: 5px 10%; 
    }
    .results-container {
        height: calc(100% - 70px);
        overflow-y: none;
    }
    .results-box {
        height: 340px;
        width: 75%;
        max-width: 380px;
        background: white;
        padding: 10px;
        margin-bottom: 40px;
        h1 {
            font-size: 1.5em;
            text-align: center;
        }
        img {
            height: 132px;
            width: 132px;
            margin: 10px auto;
            border-radius: 70px;
            display: block;
            float: none;
        }
    }
    .results-box-name {
        height: 20px;
        width: 100%;
        padding: 0px;
        display: block;
        float: left;
        h1 {
            padding: 0px;
            margin: 0px;
            line-height: 20px;
        }
    }
    .results-box-info {
        height: auto;
        width: 100%;
        margin: 20px 0px 20px 0px;
        float: left;
        border-right: none;
        p {
            text-align: center;
            margin: 0px;
        }
    }
    .results-box-contact {
        height: 40px;
        width: 100%;
        text-align: center;
        margin: 0px auto;
        float: left;
        a{float: none;}
    }
    .social-icon {
        height: 40px;
        width: 40px;
        color: white;
        line-height: 40px;
        margin: 0px 3px 0px 3px;
        border-radius: 20px;
        font-size: 1.2em;
        display: inline-block;
        float: none;
        background: $graphxGray;
    }
    .social-link {display: none;}
}