/*##################################################
    DEVELOPER: CODY L. WARD
##################################################*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
  display: none !important; }

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #263238;
  background: #263238;
  font-family: 'Roboto', sans-serif; }
  body h1, html h1 {
    margin: 0px;
    color: #263238;
    font-weight: 400; }
  body a, html a {
    margin: 0px;
    color: #8C9EFF;
    text-decoration: none; }
    body a:hover, html a:hover {
      color: #263238; }

.wrapper {
  height: calc(100% - 170px);
  width: 1000px;
  margin: 0px auto;
  display: block;
  overflow: hidden; }

.box {
  display: block;
  box-sizing: border-box;
  overflow: hidden; }

.header,
.footer {
  height: 120px;
  width: 100%;
  padding: 10px;
  display: block;
  float: left;
  background: #8C9EFF; }

.header-img img {
  height: 100px;
  width: auto;
  margin: 0px auto;
  display: block; }

.footer {
  height: 50px;
  padding: 0px; }
  .footer p {
    margin: 0px;
    color: white;
    text-align: center;
    line-height: 50px; }

.filter-box {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0px 0px 15px;
  background: #263238; }

.filter-search-box {
  height: 40px;
  width: 220px;
  margin: 0px 10px;
  padding: 0px 0px 0px 10px;
  border: none;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 10px; }

.results-container {
  height: calc(100% - 80px);
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  overflow-y: scroll; }

.results-heading {
  margin: 0px 0px 0px 150px;
  color: white; }

.results-box {
  height: 150px;
  width: 700px;
  margin: 20px auto;
  padding: 0px 0px 10px 0px;
  box-shadow: 0px 2px 10px #263238;
  background: white;
  border-radius: 10px; }
  .results-box h1 {
    font-size: 2em;
    line-height: 50px; }
  .results-box p {
    margin: 0px 0px 6px 0px; }

.results-box-image img {
  height: 132px;
  width: 132px;
  margin: 10px;
  border: 4px solid white;
  border-radius: 70px;
  float: left;
  box-shadow: 0px 2px 10px #263238; }

.results-box-name {
  height: 50px;
  width: 540px;
  display: block;
  float: left; }

.results-box-location {
  height: 100px;
  width: 200px;
  float: left;
  border-right: 1px solid #263238; }
  .results-box-location p {
    margin-left: 10px; }

.results-box-contact {
  height: 100px;
  width: 330px;
  float: left; }

.social-icon {
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 10px;
  color: #263238;
  text-align: center; }

.label {
  color: #8C9EFF; }

/*##################################################
    MEDIA QUERIES
##################################################*/
@media screen and (max-width: 1000px) {
  .wrapper {
    height: calc(100% - 80px);
    width: 100%; }

  .header {
    height: 50px;
    width: 100%;
    padding: 5px; }

  .header-img img {
    height: 40px; }

  .footer {
    height: 30px; }
    .footer p {
      line-height: 30px; }

  .results-heading {
    margin: 0px;
    text-align: center; }

  .filter-search-box {
    height: 30px;
    width: calc(50% - 17px);
    margin: 0px 0px 10px 10px;
    font-size: 1em; }

  .filter-box {
    height: 90px;
    max-width: 500px;
    padding: 10px 0px 0px 0px; }

  .results-container {
    height: calc(100% - 120px);
    padding-bottom: 20px;
    overflow-y: none; }

  .results-box {
    height: 380px;
    width: 75%;
    max-width: 380px;
    background: white;
    padding: 0px 0px 10px 0px; }
    .results-box h1 {
      margin: 10px 0px;
      font-size: 1.5em;
      text-align: center; }

  .results-box-image {
    height: 132px;
    padding: 10px 0px 0px 0px; }
    .results-box-image img {
      height: 132px;
      width: 132px;
      margin: 10px auto;
      border-radius: 70px;
      display: block;
      float: none; }

  .results-box-name {
    height: 40px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    display: block; }

  .results-box-location {
    height: 50px;
    width: 100%;
    margin: 20px 0px 10px 0px;
    float: left;
    border-right: none; }
    .results-box-location p {
      text-align: center; }

  .results-box-contact {
    height: 100px;
    width: 100%;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
